<footer class="text-white pt-3 pb-3" style="background-color: grey;">
    <div class="">
        <ul>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['politicas']">Politicas de Privacidad</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['devolucion']">Politicas de Devolucion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['contacto']">Contacto</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" [routerLink]="['Ayuda']">Centro de Soluciones</a>
            </li> -->
        </ul>
    </div>
    <p class="direccion">Copyright ©2021 Autor @Boho Pink</p>
    <p class="direccion">
        <small class="text-muted">
            <a href="https://goo.gl/maps/7Dayou2tY2GRVFsc7">
                Boho Pink Dirección: Luis Vargas, Amp. Gabriel Hernández, Gustavo A. Madero, 07080 Ciudad de México,
                CDMX Horas: L/D 10am-7pm
            </a>
        </small>
    </p>
</footer>