<p style="font-size: xx-large; overflow: hidden; white-space: nowrap;">
    ♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡</p>

<h1 style="text-align: center;">Boho Pink</h1>
<h3 style="text-align: center; padding: 1rem;">Formas de Pago</h3>
<p style="text-align: center; padding: 3rem; padding-top: 0;">Boho Pink es un sitio que acepta diferentes métodos de
    pagos: Tarjeta de crédito, tarjeta de débito y pago con
    voucher en el OXXO. Si pagas con tu tarjeta de crédito tienes la opción de pagar a meses tu compra. Elige la forma
    de pago que más te convenga.
</p>
<img style="margin-left: auto; margin-right: auto; display: block;"
    src="https://firebasestorage.googleapis.com/v0/b/moda-b906d.appspot.com/o/pa.jpg?alt=media&token=ff89bb71-4247-4417-9e89-390258b7bb9d">

<p style="font-size: xx-large; overflow: hidden; white-space: nowrap;">
    ♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡</p>