<p style="font-size: xx-large; overflow: hidden; white-space: nowrap;">
    ♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡</p>
<h1 style="text-align: center;">Boho Pink</h1>
<h3 style="text-align: center; padding: 1rem;">Politicas de Privacidad</h3>
<p style="text-align: center; padding: 3rem; padding-top: 0;">Boho Pink respeta la preocupación de sus clientes por la
    protección de su privacidad y de sus datos personales. La
    presente directriz describe el uso que hace Boho Pink de la información recopilada sobre sus clientes cuando estos
    utilizan alguno de los sitios de venta al por menor de Boho Pink (para consultar una lista de esos sitios, haz clic
    aquí), las versiones de la tienda Boho Pink Flash optimizadas para móviles y pantallas táctiles y la aplicación
    móvil disponible en la App Store y la Play Store, que en lo sucesivo se denominarán en conjunto el «Sitio», y
    también cuando adquieren algún producto en nuestras tiendas o interactúan con nosotros (nuestros «Servicios»). De
    esta manera, los clientes podrán conocer el origen y el uso de la información de navegación recopilada por las
    cookies, y ejercer sus derechos y opciones de conformidad con la legislación aplicable en materia de protección de
    datos personales. La presente directriz se aplica a todos los sitios web, aplicaciones y servicios ofrecidos por
    Boho Pink y las entidades del grupo Boho Pink, por separado o en conjunto, que en adelante se denominarán «Nuestro»,
    que hagan referencia a esta directriz, y se suman a los «Términos generales y condiciones de uso» y a los «Términos
    generales y condiciones de venta» del Sitio (y a cualquier otro documento o nota informativa que haga referencia a
    la presente directriz). No se aplica a los sitios, aplicaciones y servicios que dispongan de estatutos o políticas
    independientes que no incluyan la presente directriz ni hagan referencia a ella. Esta directriz es por lo tanto
    importante para nuestros clientes, quienes buscan tener una experiencia positiva y confiar en nuestros servicios,
    pero también para nosotros, que queremos responder a las preguntas de nuestros clientes de un modo preciso y
    exhaustivo, y tener en cuenta sus deseos.
</p>
<img style="margin-left: auto; margin-right: auto; display: block;"
    src="https://firebasestorage.googleapis.com/v0/b/moda-bere.appspot.com/o/l.jpg?alt=media&token=131c4a30-ed0c-49af-857d-4f61769573c3">
<p style="font-size: xx-large; overflow: hidden; white-space: nowrap;">
    ♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡</p>
<!-- <img src="../../jb/logo.png" alt=""> -->