<p style="font-size: xx-large; overflow: hidden; white-space: nowrap;">
    ♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡</p>
    <h2 style="text-align: center;">Bienvenid@ {{nombre}}</h2>
<h4 style="text-align: center;">
    Compra artículos de artículos de Belleza y ropa de Moda en Boho Pink, tenemos los mejores precios en México con
    envío a Domicilio
</h4>
<img style="margin-left: auto; margin-right: auto; display: block;"
    src="https://firebasestorage.googleapis.com/v0/b/moda-bere.appspot.com/o/l.jpg?alt=media&token=131c4a30-ed0c-49af-857d-4f61769573c3">
<p style="font-size: xx-large; overflow: hidden; white-space: nowrap;">
    ♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡</p>