<p style="font-size: xx-large; overflow: hidden; white-space: nowrap;">
    ♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡</p>
<h1 style="text-align: center;">Boho Pink</h1>
<h3 style="text-align: center; padding: 1rem;">Politicas de Devolucion</h3>
<p style="text-align: center; padding: 5rem; padding-top: 0;">
    Esperamos que estés satisfecho/a con tu compra! Si no estás 100% satisfecho/a, puedes fácilmente realizar una
    devolución. ¿Cuál es el período de devolución y cuál es el costo? Si no has estado 100% satisfecho/a, tienes 30 días
    después de la fecha de recepción del pedido para hacer la devolución. Las devoluciones hechas 30 días después de la
    fecha de recepción no serán aceptadas. Hay dos maneras: ① Puedes usar la etiqueta de devolución que brindamos. Cada
    etiqueta de devolución cuesta MXN 99 . Si la usas, el cobro correspondiente será descontado de tum onto de reembolso
    . Una etiqueta de devolución solo es útil para un pedido. Recomendamos que esperes a recibir todos los paquetes para
    devolver los artículos del mismo pedido. ② Puedes elegir un método de devolución a tu propio costo, pero no
    aceptamos pagos en efectivo a contra entrega.

</p>
<img style="margin-left: auto; margin-right: auto; display: block;"
    src="https://firebasestorage.googleapis.com/v0/b/moda-bere.appspot.com/o/l.jpg?alt=media&token=131c4a30-ed0c-49af-857d-4f61769573c3">
<p style="font-size: xx-large; overflow: hidden; white-space: nowrap;">
    ♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡</p>